<% include ./partials/header %>
 <div class="row">
  <div class="col-sm-12 user-profile">
   <div class="row">
    <div class="col-sm-12">
     <div id="info">
      <img class="img-fluid user-profile-img img-circle" src="http://www.aperfectworld.org/clipart/seasons/sun.png">
      <h4 id="name">@<%= user.local.username %></h4>
      <p id="city"><%= user.local.currentcity %>, <%= user.local.currentstate %></p>
      <a class="btn btn-info btn" href="/users/settings">SETTINGS</a>
     </div>
  </div>
 </div>
</div>
</div>
  <section id="trips">
   <div class="row">
    <% trips.reverse().forEach(function(trip){ %>
     <%if(trip.completed == null) {%>
      <div class="col-sm-4">
       <div class="card map-card">
        <iframe id='youframe' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/directions?key=AIzaSyC-EwkbLF1DAAx4XVC7935uSXUEtiM68iM&origin=<%=trip.origin %>&destination=<%= trip.destination%>'></iframe>
        <div class="card-block">
         <a target="_blank" href="https://www.google.com/maps/dir/<%= trip.origin %>/<%= trip.destination %>"><h6><%= trip.destination %></h6></a>
         <p><%= trip.duration %> from  <%= trip.origin %></p>
         <form action="/<%= trip.id %>/complete" method="post">
          <button id="complete-button" type="submit" value="" class="fa fa-check fa-2x pull-xs-right"></button>
         </form>
         <form action="/<%= trip.id %>/delete/" method="post">
          <button id="delete" type="submit" value="" class="fa fa-trash-o pull-xs-left fa-2x"></button>
         </form>
        </div>
       </div>
     </div>
    <% }}) %>
  </div>
 </section>
</div>
<section id="completed-trips">
 <div id="completed-trips-content">
 <ul class="list-group">
  <h2 class="saved-heading">Trips I've been on</h2>
  <div class="row">
   <% trips.reverse().forEach(function(trip){ %>
    <%if(trip.completed == true) {%>
     <div class="col-sm-4">
      <div class="card">
       <iframe id='youframe' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/directions?key=AIzaSyC-EwkbLF1DAAx4XVC7935uSXUEtiM68iM&origin=<%=trip.origin %>&destination=<%= trip.destination%>'></iframe>
       <div class="card-block">
        <a target="_blank" href="https://www.google.com/maps/dir/<%= trip.origin %>/<%= trip.destination %>"><h6><%= trip.destination %></h6></a>
        <p><%= trip.duration %> from  <%= trip.origin %></p>
        <form action="/<%= trip.id %>/delete/" method="post">
         <button id="delete" type="submit" value="" class="fa fa-trash-o fa-2x"></button>
        </form>
    </div>
   </div>
   </div>

   <% }}) %>
 </div>
 </div>
</section>
</div>

<% include ./partials/footer %>
